@model SocialNetWorkv1._0.Models.UserInfo

@{
    ViewBag.Title = "Редактирование";
}

<h2>Изменить информацию о @User.Identity.Name</h2>

@if (Model.ImageUser == null)
{
    Model.ImageUser = "no_photo.jpg";
}

<img src="~/image/@Model.ImageUser" width="200" height="200" style="margin-left:100px; border:solid" />

@using (Html.BeginForm("EditPhoto", "MyPage"))
{
    <div class="form-group"  style="margin-left:80px">
        <div style="margin-left:30px">
            <input type="submit" value="Редактирование фото" class="btn btn-default" style="margin:5px" />
        </div>
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        <h4 style="margin:50px">Личная информация</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)


        <div class="form-group">
            @Html.LabelFor(model => model.Firstname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Firstname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Lastname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Lastname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Adress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Adress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Adress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<hr/>
<h4 style="margin-left:50px">Редактирвание профиля</h4>

<div class="row">
 
    <div style="margin-left:90px">
        @using (Html.BeginForm("Delete", "MyPage", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.ID)
            <div>
                <input type="submit" value="Удалить аккаунт" class="btn btn-default" style="margin:10px;" />
            </div>
        }
    </div>
  </div>


<div> 
    @Html.ActionLink("Выход на главную страницу", "Index", "Home")
</div>
