@model SocialNetWorkv1._0.Models.UserInfo

@{
    ViewBag.Title = "Информация о пользователе";
}

<h2>Информация</h2>

<div>
    <hr />

    @if (Model.ImageUser == null)
    {
        Model.ImageUser = "no_photo.jpg";
    }

    <img src="~/image/@Model.ImageUser" width="200" height="200" style="margin-left:100px; border:solid" />


    <dl class="dl-horizontal">
        
        <dt>
            Имя
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>

        <dt>
            Фамилия
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lastname)
        </dd>

        <dt>
            Возраст
        </dt>

        <dt></dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Адресс
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adress)
        </dd>
        <dt>
            Роль в системе
        </dt>
        <dd>
            @if (ViewBag.ID == 1)
            {
                <p>Админ</p>
            }
            else if (ViewBag.ID == 2)
            {
                <p>Пользователь</p>
            }
            else
            {
                <p>Забанен</p>
            }
        </dd>


        <dd>
            @if (ViewBag.ID == 1)
            {
                using (Html.BeginForm("DownRoles", "Admin"))
                {
                    <input type="hidden" name="id" value="@Model.ID" />
                    <input type="submit" name="" value="Забрать адинку" />
                }
            }
            else if (ViewBag.ID == 2)
            {
                using (Html.BeginForm("UpRoles", "Admin"))
                {
                    <input type="hidden" name="id" value="@Model.ID" />
                    <input type="submit" name="" value="Выдать права админа" />
                }
                using (Html.BeginForm("DownRoles", "Admin"))
                {
                    <input type="hidden" name="id" value="@Model.ID" />
                    <input type="submit" value="Забанить" />
                }
            }
            else
            {
                using (Html.BeginForm("UpRoles", "Admin"))
                {
                    <input type="hidden" name="id" value="@Model.ID" />
                    <input type="submit" name="" value="Разбанить" />
                }
            }
        </dd>
    </dl>
</div>


<p>
    @Html.ActionLink("Выход на главную страницу", "Index", "Home")
</p>
